BODY{
    background-color: bisque;
    background-image: url(ALEX.PNG.JPG);
    border-spacing: 0.8%;
}
.MAIN{
    margin-bottom: 0.8%;
}
.A{
    margin-bottom: 0.8%;
}
.c{
    margin-bottom: 1.5%;
    color: blueviolet;
    text-decoration: aqua;
}
.d{
    margin-top: 0.4%;

}
.e{
    margin-top: 0.6%;
}