BODY{
    background-image: ;
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
H1{
    text-align: center;
}
.O{
    background-color: aliceblue;
    background-image: url(ALEX.PNG.JPG);
}
.MAIN{
    margin-bottom: 0.8%;
    background-color: 
}
.A{
    margin-bottom: 0.8%;
}
.c{
    margin-bottom: 1.5%;
    color: blueviolet;
    text-decoration: aqua;
}
.d{
    margin-top: 0.4%;

}
.e{
    margin-top: 0.6%;
}