.O{
    background-color: aliceblue;
    background-image: url(ALEX.);
}
.MAIN{
    margin-bottom: 0.8%;
    background-color: 
}
.A{
    margin-bottom: 0.8%;
}
.c{
    margin-bottom: 1.5%;
    color: blueviolet;
    text-decoration: aqua;
}
.d{
    margin-top: 0.4%;

}
.e{
    margin-top: 0.6%;
}